
packages/

ProyectoCalculadora/bin/

ProyectoCalculadora/obj/

UnitTests-ProyectoCalculadora/obj/Debug/

UnitTests-ProyectoCalculadora/bin/Debug/

\.vs/ProyectoCalculadora/v14/\.suo

*.cache

*.dll

*.pdb

NUnit-ProyectoCalculadora/bin/Debug/

NUnit-ProyectoCalculadora/obj/Debug/
