
packages/

ProyectoCalculadora/bin/

ProyectoCalculadora/obj/

NUnit-ProyectoCalculadora/bin/Debug/

NUnit-ProyectoCalculadora/obj/Debug/

UnitTests-ProyectoCalculadora/bin/Debug/

UnitTests-ProyectoCalculadora/obj/Debug/
